/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: "Inter", sans-serif;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 100px auto;
  border: 2px solid var(--accent-color);
  padding: 136px 0 25px 0;
  font-family: var(--font-secondary, sans-serif);
  font-weight: var(--fw-pressstart2p-title);
  background-color: var(--bg-color);
  max-inline-size: 696px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
  text-transform: uppercase;
}

.header__title {
  font-weight: var(--fw-pressstart2p-title);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-weight: var(--fw-pressstart2p-title);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: color 0.3s;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  min-width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button[disabled]::before {
  content: "▶";
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: -25px;
  opacity: 1;
  animation: arrow 0.5s infinite alternate ease-in-out;
  pointer-events: none;
}

.card__list {
  display: grid;
  gap: 54px;
  margin: 0 auto;
  max-inline-size: 696px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card__title {
  padding-inline-start: 10px;
  padding-block-start: 3px;
  padding-block-end: 3px;
  font-weight: var(--fw-inter-title);
  font-size: 18px;
  line-height: 21.78px;
}

.card__image__grayscale {
  filter: grayscale(50%);
}

.card__image__saturate {
  filter: saturate(300%);
}

.card__image__hue-rotate {
  filter: hue-rotate(30deg);
}

.card__image__invert {
  filter: invert(0.7);
}

.card__image__sepia {
  filter: sepia(80%);
}

.card__image__blur {
  filter: blur(1rem) drop-shadow(1px 1px 1px #fff);
}

.card__image__orange {
  filter: saturate(230%) hue-rotate(110deg) blur(0.1rem) brightness(80%)
    contrast(50%);
}

.card__images > img {
  width: 100%;
  border-block: 4px solid var(--accent-color, #000);
  object-fit: cover;
  object-position: center;
}

.card__content__text {
  display: grid;
  gap: 27px;
  padding: 25px;
  font-weight: var(--fw-inter-text);
  font-size: 18px;
  line-height: 21px;
}

.card__btn {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  font-family: var(--accent-font), sans-serif;
}

.card__btn__Like {
  position: relative;
  width: 127px;
  height: 34px;
  border: none;
  padding: 9px 17px;
  outline: 2px solid var(--accent-color, #000);
  background-color: transparent;
}

.card__btn__like__name {
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  line-height: 12.6px;
}

.button-save {
  margin-top: 52px;
  margin-bottom: 105px;
}

.button-save__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 335px;
  margin: 0 auto;
  border: none;
  border: 2px solid var(--accent-color, #000);
  padding: 18.5px;
  font-family: "Press Start 2P", sans-serif;
  font-weight: var(--fw-pressstart2p-title, 400);
  font-size: 14px;
  line-height: 12.6px;
  background-color: transparent;
  background-color: var(--bg-color, #fff);
  cursor: pointer;
  min-block-size: 51px;
}

@media screen and (max-width: 375px) {
  .button-save__title {
    flex-direction: column;
  }
}

.button-save__title > span {
  list-style: none;
  background-color: transparent;
}

.alert {
  border: 2px solid var(--accent-color, #000);
  color: var(--accent-color);
  font-family: "Press Start 2P", sans-serif;
  background-color: var(--bg-color);
}

.alert::backdrop {
  opacity: 75%;
  background-color: var(--bg-color);
}

.floppy {
  color: var(--accent-color);
}

.alert__form {
  display: grid;
  gap: 30px;
  max-width: 353px;
  padding: 30px;
}

.alert__form__card {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.alert__form__card > .floppy {
  width: 85px;
  height: 85px;
}

.alert__submit {
  display: flex;
  border: 2px solid var(--accent-color, #000);
  padding: 12.5px 135px;
  text-align: center;
  background-color: var(--background-image);
  cursor: pointer;
}
