:root {
  --font-main: "Inter";
  --font-secondary: "Press Start 2P";
  --bg-color: #fff;
  --accent-color: #000;
  --fw-main-title: 700;
  --fw-main-text: 400;
  --gradient-primary: #e7e7e7;
  --gradient-secondary: #1a1a1a;
  --border-header-color: #000;
  --before-title-btn: #fff;
  --floppy-fill: #fff;
  --heart-color: #000;
  --active-heart-color: #f00;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(
      to bottom,
      var(--gradient-primary, #e7e7e7) 0.01%,
      var(--gradient-secondary, #1a1a1a) 100%
    );
}
